	*{
			font-family:" Century Gothic",Futura, "Gill Sans";
		}

		img#logo {
			width: 100px;
			margin-left: 3%;
			float: left;
			padding-bottom: 10px;

		}

		.pageTitle {
			float: right;
			margin-right: 3%;
			font-size: 28px;
			font-weight:bold;

		}

		.title1{
				font-size:40px;
			}

		div{

			color: black;

		}

		a.navbar-brand {
			padding : 0;
			margin-right: 50px;
			padding-left: 20px;
		}

	
		.navbar-default {
    		background-color: white;
    		border-radius: 0;
    		border-bottom: 2px solid black;
    		padding-bottom: 5px;
    		font-size:18px;

			}

		.navbar-default .navbar-nav > li > a {
			margin-top: 5px;
    		color: #000000;
			}

		.navbar-default .navbar-center > li > a {
			margin-left: 30px;
    		color: #000000;
			}

		ul.dropdown-menu{
			margin-left: 30px;
		}
		
  		
  		ul.dropdown-menu li a:hover{
  			color: white;
  			background: #393939;

  		}

  		.navbar-login
		{
		    width: 305px;
		    padding: 10px;
		    padding-bottom: 0px;
		}

		.navbar-login-session
		{
		    padding: 10px;
		    padding-bottom: 0px;
		    padding-top: 0px;
		}

		.icon-size
		{
		    font-size: 87px;
		}

		.glyphicon.glyphicon-search, .glyphicon.glyphicon-envelope, .glyphicon.glyphicon-upload {
		    font-size: 18px;
		    margin-left: 20px;
		}
		.glyphicon.glyphicon-search{
				margin-top:20px;
				color:black;
				margin-right:18px;
				margin-left: 27px;
				margin-bottom:10px;
			}

		.glyphicon.glyphicon-upload{
			margin-right: 30px;
		}

		li.dropdown strong{
			font-size:12px;
		}

		span.caret{
			color:#a0a0a0;
		}

		@media (max-width: 1200px) {
		    .navbar-header {
		        float: none;
		    }
		    .navbar-left,.navbar-right {
		        float: none !important;
		    }
		    .navbar-toggle {
		        display: block;
		    }
		    .navbar-collapse {
		        border-top: 1px solid transparent;
		        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		    }
		    .navbar-fixed-top {
		        top: 0;
		        border-width: 0 0 1px;
		    }
		    .navbar-collapse.collapse {
		        display: none!important;
		    }
		    .navbar-nav {
		        float: none!important;
		        margin-top: 7.5px;
		    }
		    .navbar-nav>li {
		        float: none;
		    }
		    .navbar-nav>li>a {
		        padding-top: 10px;
		        padding-bottom: 10px;
		    }
		    .collapse.in{
		        display:block !important;
		    }
		}


		.footer-bs {
			margin-top:100px;
		    background-color: #3c3d41;
			padding: 60px 40px;
			color: rgba(255,255,255,1.00);
		}

		.container-full {
		  margin: 0 auto;
		  width: 100%;
		}

		.footer-bs .help, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
		.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }

		#footer-logo{
			width:50%;
			display:block;
    		margin:auto;
		}

		.footer-bs .footer-brand ul.list {
			list-style:none; 
			padding:0px; 
		}

		.footer-bs .footer-brand ul li { 
			padding:5px 0px;
			text-decoration:underline; 
			text-align:center;
			
		}
		.footer-bs .footer-brand ul.list a { 
			color:white; 
			font-size:13px;
		}
		.footer-bs .footer-brand ul.list a:hover { 
			color:grey; 
		}



		.footer-bs .footer-nav ul.list { 
			list-style:none; 
			padding:0px; 
			margin:0px;
		}
		.footer-bs .footer-nav ul.list li { 
			padding:5px 0px;
			text-align:left;
		}
		.footer-bs .footer-nav ul.list a { 
			color:white; 
			font-size:12px;
		}
		.footer-bs .footer-nav ul.list a:hover { 
			color:rgba(255,255,255,0.60); 
			text-decoration:none; 
		}


		.footer-bs h4 {
			font-size: 13px;
			font-weight:bold;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #FFEE80;
		}

		.fa {
		  padding: 20px;
		  font-size: 30px;
		  text-decoration: none;
		  text-align:center;
		  margin: 10px 10px;
		  border-radius: 50%
		}

		.fa:hover {
		    text-decoration: none;
		}

		.fa-facebook {
		  background: #3B5998;
		  color: white;
		  padding:20px 25px;
		}

		.fa-twitter {
		  background: #55ACEE;
		  color: white;
		}

		.fa-instagram {
		  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
		  color: white;
		  padding:20px 23px;
		}

		

		@media only screen and (max-width: 991px){

				#footer-logo{
				width:20%;
				clear:both;
				
			}
			.footer-bs .footer-brand ul li { 
				padding:5px 0px;
				text-decoration:underline; 
				text-align:center;
				clear:both;
			}
			

			.fa {
			  padding: 10px;
			  font-size: 20px;
			  text-decoration: none;
			  text-align:center;
			  margin: 10px 10px;
			  border-radius: 50%
	  
			}

			.fa-facebook {
			  background: #3B5998;
			  color: white;
			  padding:10px 15px;
			}


		}

